@import "src/variables.scss";

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  border-radius: 8px;
  width: 278px;
  height: 64px;
  border: 0;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  color: #001c39;
  padding: 16px 4px 16px 16px;

  &:focus-visible {
    outline: 2px solid $focused-outline-color;
  }
}

.buttonGroup {
  display: flex;
  gap: 2px;
}

.buttonGroup:focus,
.buttonGroup:hover {
  display: flex;
}

.customInput {
  flex: 1;
  font-family: "Inter";
  padding: 4px;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  background-color: transparent;
  border: 0;
  resize: none;
  flex: 1;
}
