@import "src/variables.scss";

.gridItemHeader {
  display: flex;
  gap: 12px;

  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 12px;
  background-color: #fff;
  box-shadow: 0px 0px 1px 0px rgba(18, 3, 62, 0.1), 0px 1px 1px 0px rgba(18, 3, 62, 0.1);
  outline: none;
  border-radius: 8px;
  box-sizing: border-box;
  list-style: none;
  color: #001c39;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  white-space: nowrap;

  &:focus-visible {
    outline: 2px solid $focused-outline-color;
  }
}

.customInput {
  flex: 1;
  font-family: "Inter";
  padding: 4px;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  border: 0;
  background-color: transparent;
  border: 0;
  resize: none;
  flex: 1;
}

.buttonGroup {
  display: flex;
}

.namePlaceholder {
  display: flex;
  padding: 4px;
  line-height: 18px;
  flex: 1;
  border: 0;
  margin: 0;
}
