@import "src/variables.scss";

.taskGroupWrapper {
  display: flex;
  flex-direction: column;
  grid-auto-rows: max-content;
  overflow: hidden;
  box-sizing: border-box;
  appearance: none;
  outline: none;
  min-width: 294px;
  margin: 0px 10px;
  transition: background-color 350ms ease;
  padding: 16px 8px 8px 8px;
  background-color: #ecf1fd;
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 1em;
  border-radius: 16px;

  &:focus-visible {
    outline: 2px solid $focused-outline-color;
  }
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexSpaced {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.taskGroupName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin: 0;
  padding: 6px 8px;
  font-weight: 600;
  line-height: 18px;
}

.addListButtonWrapper {
  margin-top: 8px;
  justify-content: center;
  display: flex;
}

.taskList {
  margin: 16px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding: 16px 8px 6px 8px;
  padding: 0;
}

.customInput {
  flex: 1;
  font-family: "Inter";
  padding: 6px 8px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  border: 0;
  background-color: transparent;
  border: 0;
  flex: 1;
  outline: 2px solid $focused-outline-color; /* Use your preferred color */
  border-radius: 6px;

  &:focus-visible {
    outline: 2px solid $focused-outline-color; /* Use the same custom color */
  }
}

.taskDoneDescription {
  margin: 6px 0 0 0;
  padding: 0;
  align-self: flex-end;
  margin-right: 6px;
  font-weight: 600;
  line-height: 18px;
  font-size: 13px;
}
